@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
  --color-051DB5: #051DB5;
  --color-041375: #041375;
  --color-E49B0F: #E49B0F;
  --color-8B0000: #8B0000;
  --font-color: #555;
  --font-hover-color: orange;
}

.logo {
  width: 135px;
  height: 45px;
  /* margin:auto auto; */
}

.logo:hover {
  background-color: var(--color-051DB5);
  transition: 0.3s;
}

.home-wrapper-1 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: auto;
  flex-direction: column;
  /* margin-top: 5rem; */
  flex-wrap: wrap;
  /* transform: rotate(30deg); */
  /* background-image: url(../public/images/web-dev.webp); */
  /* background-size: cover; */
}

.main-home-wrapper-1 {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 10px;
  padding-left: 8rem;
  padding-top: 30px;
}

.main-home-wrapper-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-home-wrapper-2 .home-popup {
padding: 32px;
background-color: red;
position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-home-wrapper-2 .details{
  display: none;
  text-align: left;
} 


.main-home-wrapper h1,
.main-home-wrapper h4 {
  color: white;
  -webkit-text-stroke: 1px var(--color-041375);
  /* width and color */
  font-weight: 700;
}

.main-home-button button {
  background-color: var(--color-051DB5);
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 15px;
  border-radius: 50px;

}

.main-home-button button:hover {
  background-color: white;
  color: var(--color-041375);
  transition: 0.3s;

}


.main-home-wrapper-1 h1 span {
  color: var(--color-041375);
  font-weight: 800;
  -webkit-text-stroke: 1px var(--color-E49B0F);
  /* width and color */

}

.main-home-wrapper-1 h4 span {
  color: var(--color-041375);
  font-weight: 600;
  -webkit-text-stroke: 1px var(--color-E49B0F);
  /* width and color */

}

.social-home-icons {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}

.social-icon {
  background-color: black;
  border-radius: 50%;
  padding: 10px;
  color: var(--color-E49B0F);
  width: 40px;
  height: 40px;

}

.main-home-wrapper-2 .img-masoud {
  width: 200px;
  height: 240px;
  border: 1px solid var(--color-041375);
  border-radius: 50%;
  /* object-fit: cover; */
  cursor: pointer;

}

.footer .contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
}

.footer .contact a {
  color: white;

}

.footer {
  background-color: var(--color-051DB5);
  padding: 10px;
  border: 1px solid #131921;
}

@media only screen and (max-width: 768px) {

  .main-home-wrapper-2 .img-masoud,
  .about-wrapper-1 .about-image-masoud .img-masoud {
    width: 200px;
    height: 200px;
    margin-bottom: 0;
  }

  .main-home-wrapper-1 {
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .home-wrapper-1 {
    height: auto;
  }

  .social-home-icons {
    margin-bottom: 4rem;
  }

  .main-home-button button {
    margin-top: 3rem;
  }


  .intro h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    gap: 35px;
    margin-left: 1.5rem;
    font-size: 65px;
  }

  .intro h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 400;
    align-items: center;
    flex-direction: column;

  }




}

/*--------ABOUT ME PAGE----*/
.about-wrapper-1 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  /* gap: 10; */
  /* margin-top: 7rem; */
  background-color: var(--color-ededed);


}

.about-image-masoud {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image-masoud .img-masoud {
  width: 260px;
  height: 260px;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 5px;

}

.intro h1 {
  font-size: 85px;
  font-weight: 700;
  color: var(--color-3b4149);
}

.intro h2 {
  font-size: 42px;
  font-weight: 500;
  color: var(--color-777777);
}

.circle-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  /* background-color: #80ffff; */
  /* border: 1px solid #33ccff; */

}

/* .circle-title .my-skill-circle-5, .my-skill-circle-4, .my-skill-circle-3{
border-top-right-radius: 1px solid var(--color-051DB5);
} */

.my-skill-circle-1,
.my-skill-circle-5 {
  font-size: 16px;
  font-weight: 700;
  background-color: #ff5050;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 50px 50px 50px 50px;
  margin: 20px 35px;
  -webkit-text-stroke: 1px var(--color-E49B0F);
  /* width and color */
  border-top-left-radius: 1px solid var(--color-051DB5);

}

.my-skill-circle-2,
.my-skill-circle-4 {
  font-size: 16px;
  font-weight: 700;
  background-color: #33ccff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 50px 50px 50px 50px;
  margin: 10px 10px;
  -webkit-text-stroke: 1px var(--color-777777);
  /* width and color */
  border-top-right-radius: 1px solid var(--color-051DB5);

}

.my-skill-circle-3,
.my-skill-circle-3 {
  font-size: 16px;
  font-weight: 700;
  background-color: #ccff33;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 50px 50px 50px 50px;
  margin: 10px;
  -webkit-text-stroke: 1px var(--color-041375);
  /* width and color */
  border-top-right-radius: 1px solid var(--color-051DB5);

}

.about-wrapper-1 .description-about-me {
  color: #232f3e;
  padding: 10px;
  border-top-left-radius: 5px var(--color-232f3e);
  /* padding-bottom: 1rem; */
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 20px;
  background-color: #ffff99;
  border: 2px solid white;
}




/*--------ABOUT ME PAGE END HERE----*/

/*---------Education page------*/
.education-wrapper-1 {
  display: flex;
  margin-bottom: 60px;
  align-content: center;
  justify-content: center;
}

.high-school {

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  margin-left: 25px;


}

.high-school img {
  width: 100px;
  height: 100px;
}

.education-wrapper {
  /* margin: 40px ; */
  padding-top: 20px;
  background-color: var(--color-131921);
  background-color: var(--color-051DB5);
}

.education-wrapper .edu {
  border: 1px solid white;
}

.education-content {
  display: flex;
  justify-items: space-around;
  flex-direction: row;
  background-color: var(--color-051DB5);
  flex-wrap: wrap;
  border-radius: 20px;
}

.education-content-1,
.education-content-2,
.education-content-3 {
  display: flex;
  justify-content: center;
  margin: 35px;

}

.education-content .education-content-icon {
  padding: 10%;
  border-radius: 20%;
  background-color: #bf4800;
}

.cross-industry-experience,
.full-stack-development,
.design-focused {
  color: white;
  text-align: left;
  height: 250px;
  padding: 15px;
  font-weight: 700;
}

/*---------Education Ends Here------*/


/*---------Contact Page Ends Here------*/

/* Contact Page */
.contact-wrapper-2{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column;
  padding: 40px;
}

/* .contact-inner-wrapper>div {
  width: 48%;
} */

.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin-bottom: 10px;
  padding: 20px 5px;
}

.contact-inner-wrapper form .form-control {
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}

.contact-inner-wrapper ul {
  list-style-type: none;
}

.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-777777);

}

.button {
  background-color: var(--color-051DB5);
  color: white;
  font-size: 14px;
  padding: 8px 25px;
  border-radius: 15px;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: var(--color-ededed);
  color: var(--color-131921)
}





.container {
  /* width: 500px; */
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
  /* padding: 1em; */
  background-color: #fff;
}

.form-group {
  transition: all .3s;
  padding: 0;
  margin: 0;
}

.form-label {
  font-size: .75em;
  color: var(--font-color);
  /* display: block; */
  opacity: 0;
  transition: all .3s;
  transform: translateX(-50px);
}

.form-control {
  box-shadow: none;
  border-radius: 0;
  border-color: #ccc;
  border-style: none none solid none;
  /* width: 100%; */
  font-size: 1.25em;
  transition: all .6s;
}

.form-control::placeholder {
  color: #aaa;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--font-hover-color);
  outline: none;
}

.form-group:focus-within {
  transform: scale(1.1, 1.1);
}

.form-control:invalid:focus {
  border-color: red;
}

.form-control:valid:focus {
  border-color: green;
}

.contact-wrapper-2 .btn {
  background: 0 0 #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: var(--font-color);
  font-size: 1em;
  padding: 10 50px;
  margin-top: 15px;
  text-transform: uppercase;
}

.contact-wrapper-2 .btn:hover {
  border-color: var(--font-hover-color);
  color: var(--font-hover-color);
}

textarea {
  resize: none;

}



.focused>.form-label {
  opacity: 1;
  transform: translateX(0px);

}


/*---------Contact Page Ends Here------*/


/*-------project page--------*/

.projects-wrapper-1 {
  background-color: var(--color-051DB5);

}

.slidshow {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.slidshow h2 {
  padding: 20px;
  /* font-size: 16px; */
  font-weight: 600;
  text-align: center;
  width: auto;
  /* -webkit-text-stroke:1px  #ededed; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  font-family: sans;
  color: yellow;
}

.project-qa {
  background-color: var(--color-051DB5);
  border-radius: 10px;

}

.project-qa h5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.project-qa p {
  margin: 0;
  padding-bottom: 30px;
  color: var(--color-ededed);
}

.project-qa button {
  margin-bottom: 100px;
  margin-right: auto;
}

/*-------project page Ends here--------*/

/*--------------my skills page----------*/

.my-skills-wrapper-1 .my-skills-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.my-skills-wrapper-1 .my-skills-title h4 {
  margin: 10px;
}

.my-skills-wrapper-1 .my-skills-title p {
  margin: 10px;
}

.my-skills-wrapper-1 .my-skills-img img {
  width: 100px;
  height: 100px;
}

.chart .twochart {
  width: 450px;
  height: 450px;
}

/*--------------my skills page Ends----------*/